<%- include('../partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YourCamp</h1>
            <p class="lead">view ypour camps from all over the world</p>
            <p><a class="btn btn-primary btn-large" href="/campgrounds/add">Add new campground</a></p>
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(camp){%>
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="img-thumbnail rounded pb-0">
                <img style="width: 100%; height: auto;" src="./uploads/<%= camp.image %>" alt="camp image">
                <h4><%= camp.name %></h4>
                <p><a class="btn btn-primary btn-sm" href="/campgrounds/<%= camp._id %>">Read more</a></p>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>